/* in-viewport animations */

.fade-in-left,
.fade-in-right,
.fade-in-up,
.fade-in-down {
    opacity: 0;
    transition: translate 1s ease-out, opacity 1s ease;

    &.in-viewport {
        translate: 0% 0%;
        opacity: 1;
    }
}

.fade-in-left {
    translate: 15% 0;
}

.fade-in-right {
    translate: -15% 0;
}

.fade-in-up {
    translate: 0 15%;
}

.fade-in-down {
    translate: 0 -15%;
}